html {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(192, 235, 250, 0.2) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.4) 0, rgba(192, 235, 250, 0.1) 2em), #FFF;
    background-blend-mode: multiply;
  }
body {
    width: 100%;
    height: 96%;
    text-align: center;
    font-family: 'Courier Prime', monospace;
  }

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2.4rem;
    line-height: 1;
    width: 100%;
    margin: 5% auto;
    color: orange;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.8rem rgba(127, 215, 120, 0.5);
  }
form {
    width: 100%;
    height: 60%;
    margin: 0 auto;
}
textarea {
    width: 80%;
    height: 100%;
    margin: 0;
    font-family: 'Courier Prime', monospace;
    color: darkcyan;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0.2rem;
    border: orange 1px solid;
}
.generate{
    width: 80%;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    color: white;
    background-color: orange;
    border: none;
}